* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.collapsedSidebar {
  margin-left: 60px;
  margin-top: 60px;
  width: calc(100vw - 60px);
  transition:
    margin 0.3s,
    width 0.3s;
}
.notCollapsed {
  margin-left: 250px;
  margin-top: 60px;
  flex: 1;
  width: 100vw;
  transition:
    margin 0.3s,
    width 0.3s;
}
@media (max-width:640px) {
    .notCollapsed{
        margin-left: 200px;
    }
}
