.container {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a1f3a;
  overflow: auto;
  padding: 20px;
}
.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2563eb;
}
.container::-webkit-scrollbar-track {
  background-color: transparent;
}
.form {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #0a1f3a;
}

button {
  padding: 1rem;
  background: #0a1f3a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
}
.error,
.message {
  font-weight: 900;
}
.message {
  text-align: center;
  color: red;
}

.signup {
  text-align: center;
  font-size: 0.9rem;
}
